@tailwind base;
@tailwind components;
@tailwind utilities;


.reselling-message {
    font-size: 1.5rem; /* Adjust size */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ff9900; /* Orange color */
    background-color: #333; /* Dark background */
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

/* Optional animation for fading in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
